<app-navbar></app-navbar>
<div class="main">
    <div class="container">
      <div *ngFor="let order of orderDetailsList"> 
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <p class="card-title">Product ordered on {{order.date|date}}</p>
                  <p class="card-text">Product : {{order.products.name}}</p>
                  <p class="card-text">{{order.products.description}}</p>
                  <p class="card-text">Quantity : {{order.quantity}}</p>
                  <p class="card-text" [ngStyle]="{'color':order.paymentStatus === true ? 'green' : 'red' }">
                  <span > {{order.paymentStatus==true?'Paid':'Not Paid'}}</span>
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>>
