.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
    z-index: 1;
    
	left: 0;
	background-color: lightgrey;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 15px;
	color: black;
	display: block;
  }

  .selected:hover{
	color: #203342;
  }

  .selected{
	margin-left: 15px;
	font-size: 15px;
	color: black;
  }
  
  .sidenav a:hover {
	color: #203342;
  }
  
  .main {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 15px; /* Increased text to enable scrolling */
	padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  .displaySubCategories{
	font-family: 'Ubuntu', sans-serif;
	font-size:small  }

	.displayCategory{
		font-family: 'Ubuntu', sans-serif;
		font-size:medium;
	}